
<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
  <div id="home" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="20px">
    <div fxLayout="row" fxFlex="80" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div fxFlex=50>
        <h1>
          Home
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae incidunt deserunt expedita consequatur dicta
          officiis
          at quo id vel, adipisci amet deleniti eum sunt voluptates aspernatur rerum. Explicabo, ab qui?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum iusto doloribus odit tenetur.
          Asperiores dolore, eum voluptatum fuga distinctio, optio at adipisci modi necessitatibus rerum beatae atque,
          magni
          commodi.
        </p>
      </div>
      <div fxFlex=50>
        <img fxFill src="assets/images/Home Purple.png">
      </div>
    </div>
  </div>
  <div id="about" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxFlex="80" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div fxFlex=50>
        <img fxFill src="assets/images/information-icon-transparent-2.png">
      </div>
      <div fxFlex=50>
        <h1>
          About
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae incidunt deserunt expedita consequatur dicta
          officiis
          at quo id vel, adipisci amet deleniti eum sunt voluptates aspernatur rerum. Explicabo, ab qui?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum iusto doloribus odit tenetur.
          Asperiores dolore, eum voluptatum fuga distinctio, optio at adipisci modi necessitatibus rerum beatae atque,
          magni
          commodi.
        </p>
      </div>
    </div>
  </div>
  <div id="faq" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxFlex="80" fxLayoutAlign="center center" fxFlexOffset="20px">
      <div fxFlex=50>
        <h1>
          FAQ
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae incidunt deserunt expedita consequatur dicta
          officiis
          at quo id vel, adipisci amet deleniti eum sunt voluptates aspernatur rerum. Explicabo, ab qui?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum iusto doloribus odit tenetur.
          Asperiores dolore, eum voluptatum fuga distinctio, optio at adipisci modi necessitatibus rerum beatae atque,
          magni
          commodi.
        </p>
      </div>
      <div fxFlex=50>
        <img fxFill src="assets/images/pngtree-universal-purple-decoration-question-mark-pattern-png-image_4435632.jpg">
      </div>
    </div>
  </div>
</div>
