<form style="margin-top: 30vh" *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit(forgotPasswordForm)">
  <div fxLayout="row" fxLayoutAlign="center center" class="card">
    <mat-card class="mat-elevation-z0" fxFlex="50">
      <mat-card-header>
        <mat-card-title class="mat-h2">Forgot password</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="100">
        <mat-form-field fxFlexAlign="stretch">
          <input matInput placeholder="Email" formControlName="email" required />
        </mat-form-field>
        <mat-form-field fxFlexAlign="stretch">
          <input matInput placeholder="User Name" formControlName="userName" required />
        </mat-form-field>
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{ errors }}
        </div>
        <div *ngIf="responseOk" class="alert alert-danger" role="alert">
          <strong>Check the email that you provided!</strong>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
