.user-space{
  max-width: 300px;
  max-height: 550px;
  margin-top: 10px;

}


.profile-background-mini {
  font-size: 300px;
  width: 300px;
  height: 300px;
  position: absolute;
}

.profile-letter-mini {
  font-size: 100px;
  z-index: 3;
}

.container-mini {
  width: 300px;
  height: 300px;
}
